:root {
  --gruv-grey-light: #282828;
  --gruv-grey-dark: #232323;
  --gruv-beige: #D5C4A1;
  --gruv-blue: #749689;
  --gruv-green: #B8BB26;
  --gruv-green-pastel: #8EC07C;
  --gruv-red: #FB4934;
  --gruv-yellow: #FABD2F;
}

* {
  color: var(--gruv-beige);
  font-family: 'Consolas', cursive;
}

body {
  background-color:  var(--gruv-grey-light);
  margin: 0;
  padding: 0;
}
